* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
}

body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    background: url(download7.jpg) no-repeat;
    image-rendering: optimizeQuality;
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 400px;
    margin: auto;
    height: auto;
    background: black;
    padding: 15px;
    border-radius: 20px;
    background-color: black;
    padding-bottom: 25px;
    box-shadow: 8px 8px 30px orange ;
}

input[type=text]{
    width: 100% ;
    margin-bottom: 5px;
    padding-top: 50%;
    border: 2px solid black;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 2px;
    margin-bottom: none;
    color: white;
    background-color: black;
    text-align: right;
}

input[type=text]:hover{
    border: none;
    table-layout: fixed;
    outline: none;
}

input[type=button] {
    width: 20%;
    outline: none;
    border: transparent;
    padding: 15px;
    margin: 5px;
    display: inline;
    font-display: auto;
    font-weight: 600;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    color: white;
    background-color: black;
    box-shadow: -3px -3px 8px orange;
}
    

input[type=button]:hover{
    background-color: rgb(134, 122, 122);
}

.wrapper .equals{
    background-color: gold;
    border-radius: 50%;
    color: black;
}

.wrapper .equals:hover{
    background-color: rgb(236, 97, 120);
}

.wrapper .optrs{
    color: orange;
}



